* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  font-size: 62.5%; }

h1 {
  height: 4rem;
  padding: 0 5rem 0 1rem;
  line-height: 4rem;
  background: linear-gradient(#fff, #ececec);
  text-align: center;
  color: #d51938; }
  h1 img:nth-of-type(1) {
    float: left;
    width: 6rem;
    margin-top: 0.5rem; }
  h1 img:nth-of-type(2) {
    width: 8rem;
    margin-top: 0.7rem; }

#swiper {
  width: 100%; }
  #swiper img {
    width: 100%; }
  #swiper .swiper-pagination-bullet {
    background: orange; }

#dian {
  box-sizing: border-box;
  padding: 0 40%; }
  #dian span {
    margin: 0 0.5rem; }

.s1 {
  width: 100%;
  display: block;
  clear: both;
  content: ""; }
  .s1 ul {
    width: 100%;
    margin-top: 1.8rem; }
    .s1 ul li {
      float: left;
      width: 25%;
      margin: 0 0 1.5rem 0;
      list-style: none;
      text-align: center; }
      .s1 ul li img {
        width: 70%; }

.s2 {
  padding: 1rem;
  display: block;
  clear: both;
  content: ""; }
  .s2 h3 {
    border-left: 2px solid #d51938;
    font-size: 1.4rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem; }
    .s2 h3 span {
      float: right; }
  .s2 hr {
    margin-bottom: 0.3rem; }
  .s2 .uuu {
    list-style: none;
    margin-top: 1.1rem; }
    .s2 .uuu li {
      width: 100%;
      height: 6rem;
      margin-bottom: 1rem;
      background: #f4f4f4;
      display: block;
      clear: both;
      content: ""; }
      .s2 .uuu li span {
        display: block;
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        line-height: 6rem;
        width: 3rem;
        font-weight: bolder;
        height: 100%;
        float: left; }
      .s2 .uuu li .num1 {
        background: #e00202; }
      .s2 .uuu li .num2 {
        background: #ff4800; }
      .s2 .uuu li .num3 {
        background: #ff7300; }
      .s2 .uuu li .num4 {
        background: #ff9d00; }
      .s2 .uuu li .num5 {
        background: #ffa800; }
      .s2 .uuu li .num6 {
        background: #ffb400; }
      .s2 .uuu li .num7 {
        background: #ffba00; }
      .s2 .uuu li .num8 {
        background: #fcd000; }
      .s2 .uuu li .num9 {
        background: #ffd719; }
      .s2 .uuu li .num10 {
        background: #ffff52; }
      .s2 .uuu li img {
        float: left;
        height: 100%;
        margin-right: 1rem; }
      .s2 .uuu li div {
        float: right;
        margin: 1.8rem 0;
        font-size: 2rem;
        color: #d51938; }
        .s2 .uuu li div img {
          float: right;
          margin: 0; }
      .s2 .uuu li p {
        box-sizing: border-box;
        line-height: 1.6rem;
        padding: 1rem 0;
        float: left;
        height: 100%;
        color: #c6c6c6; }
        .s2 .uuu li p b {
          color: #c7223d; }
  .s2 #xia {
    width: 100%;
    background: whitesmoke;
    color: #666666;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: block;
    clear: both;
    content: ""; }
  .s2 .s22 {
    width: 100%;
    height: 17.4rem; }
    .s2 .s22 img {
      width: 30%;
      height: 100%;
      float: left; }
    .s2 .s22 .s221 {
      width: 70%;
      box-sizing: border-box;
      border-top: 1px solid #eeeeee;
      height: 100%;
      float: left; }
      .s2 .s22 .s221 ul {
        width: 100%;
        height: 100%; }
        .s2 .s22 .s221 ul li {
          list-style: none;
          width: 33.33%;
          height: 25%;
          color: #999999;
          float: left;
          font-size: 1.4rem;
          text-align: center;
          line-height: 4rem;
          border-right: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
          box-sizing: border-box; }
          .s2 .s22 .s221 ul li b {
            color: #d51942; }
  .s2 .sp {
    margin-top: 1rem; }
    .s2 .sp img {
      float: right;
      width: 1.3rem;
      margin-right: 0.5rem; }
  .s2 .s23 {
    width: 100%;
    height: 8rem;
    display: flex; }
    .s2 .s23 div {
      flex-grow: 1;
      color: #fff;
      font-size: 1.4rem;
      text-align: center; }
      .s2 .s23 div img {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem; }
    .s2 .s23 div:nth-of-type(1) {
      background: #38a4f1; }
    .s2 .s23 div:nth-of-type(2) {
      background: #8bca11; }
    .s2 .s23 div:nth-of-type(3) {
      background: #ff7404; }

.s3 {
  width: 100%; }
  .s3 .s31 {
    padding: 1rem;
    background: #f8f8f8; }
    .s3 .s31 a {
      text-decoration: none;
      color: #000;
      margin-right: 1rem; }
    .s3 .s31 span {
      float: right; }
      .s3 .s31 span img {
        width: 1rem; }

.s4 {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background: #eeeeee; }
  .s4 p {
    line-height: 2rem; }
  .s4 span {
    color: #9e9e9e; }

/*# sourceMappingURL=ju.css.map */
