@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    font-size: 62.5%;
    min-width: 1200px;
}
.tou{
    width: 100%;
    margin: 0;
}
header{
    width: 100%;
    height: 40px;
    margin-top: -4px;
    line-height: 40px;
    background: rgb(51,51,51);
    div{
        width: 1200px;;
        background: rgb(51,51,51);
        margin: 0 auto;
        a{
            text-decoration: none;
            color: #ccc;
            margin-right: 20px;
            padding: 0 20px 0 0;
            position: relative;
            z-index: 10;
            overflow: visible;
            border-right: 1px solid #ccc;
        }
        #zui{
            border: 0;
        }
        p{
            float: right;
            color: #ccc;
            span{
                display: inline-block;
                width: 100px;
                height: 40px;
                text-align: center;
                background: rgb(66,66,66);
            }
        }
    }
}
.ban{
    width: 100%;
    overflow: hidden;
    .ban1{
        width: 1200px;
        padding: 15px 0;
        margin: 0 auto;
        display: flex;
        position: relative;
        .nav{
            flex-grow: 1;
            span{
                padding: 0 15px;
                margin-top: 15px;
                height: 100%;
                transition: all 1s;
                display: inline-block;
                div{
                    position: absolute;
                    left: 0;
                    top: 80px;
                    text-align: center;
                    font-size: 30px;
                    padding: 0px 0;
                    border-bottom: 1px solid #fff;
                    height: 0px;
                    width: 100%;
                    overflow: hidden;
                    background: rgb(255,255,255);
                    z-index: 30;
                    transition: all 1s;
                }
                &:hover div{
                    height: 200px;
                    padding: 50px 0;
                    border-bottom: 1px solid purple;
                }
            }
            span:hover{
                div{
                    display: block;
                }
            }
            
        }
        .img1{
            margin-right: 50px;
            vertical-align: middle;
        }
        .nav_right{
            display: block;
            clear: both;
            content: "";
            position: relative;
            span{
                position: absolute;
                top: 20px;
                padding: 0 10px;
                left: 20px;
                color: rgb(122,122,122);
                background: rgb(238,238,238);
            }
            span:nth-of-type(2){
                top: 20px;
                left: 100px;
            }
            input{
                width: 240px;
                height: 51px;
                margin-top: -3px;
                border: 1px solid #ccc;
                outline: none;
            }
            img{
                vertical-align: middle;
                border: 1px solid #ccc;
                padding: 6px;
                width: 55px;
                box-sizing: border-box;
                position: relative;
                left: -1px;
                top: -1px;
            }
        }
    }
}
.s1{
    width: 100%;
    clear: both;
    .s1div{
        width: 1200px;
        height: 440px;
        margin: 0 auto;
        position: relative;
        div{
            float: left;
        }
        .sa1{
            width: 220px;
            height: 440px;
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            background: rgb(12,13,15);
            opacity: 0.8;
            ul{
                list-style: none;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 30px 0;
                color: #fff;
                position: relative;
                li{
                    flex-grow: 1;
                    padding: 10px 40px;
                    transition: all 2s;
                    div{
                        position: absolute;
                        width: 300px;
                        height: 440px;
                        top: -8%;
                        left: 220px;
                        display: none;
                        font-size: 50px;
                        font-weight: bold;
                        background: rgba(250,250,250,0.8);
                    }
                    img{
                        float: right;
                        width: 1rem;
                    }
                }
                li:hover{
                    background: rgba(200,200,200,0.8);
                    div{
                        display: block;
                    }
                }
            }
        }
        .sa2{
            width: 100%;
            height: 440px;
            overflow: hidden;
            position: relative;
            #swiper{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    margin-top: -200px;
                }
                .prev{
                    left: 230px;
                }
            }
            .fen{
                span{
                    margin: 0 10px;
                }
            }
        }
    }
}
.s2{
    width: 100%;
    margin-top: 14px;
    .s2div{
        width: 1200px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        div{
            float: left;
            flex-grow: 1;
            background: rgb(95,87,80);
            display: flex;
            flex-direction: column;
            ul{
                list-style: none;
                box-sizing: border-box;
                padding-top: 20px;
                flex-grow: 1;
                display: flex;
                li{
                    flex-grow: 1;
                    width: 70px;
                    text-align: center;
                    color: rgb(165,170,160);
                }
            }
        }
        .tuw{
            flex-grow: 1;
            width: 300px;
            margin-left: 10px;
        }
    }
}
.s3{
    width: 100%;
    margin-top: 40px;
    .s3div{
        width: 1200px;
        margin: 0 auto;
        p{
            font-size: 22px;
            span{
                float: right;
                color: #ccc;
                border: 1px solid #ccc;
                font-size: 18px;
                width: 40px;
                text-align: center;
            }
        }
        div{
            width: 100%;
            height: 320px;
            overflow: hidden;
            ul{
                display: flex;
                width: 2415px;
                list-style: none;
                li{
                    flex-grow: 1;
                    background: rgb(250,250,250);
                    width: 20%;
                    transition: all .5s;
                    margin-right: 15px;
                    text-align: center;
                    img{
                        margin: 40px 0 30px 0;
                    }
                    p{
                        font-size: 13px;
                        line-height: 20px;
                    }
                    span{
                        color: #ccc;
                        line-height: 30px;
                    }
                    b{
                        color: orangered;
                    }
                    &:hover{
                        box-shadow: 1px 1px 10px #0000FF;
                    }
                }
                .or{
                    border-top: 1px solid orange;
                }
                .gr{
                    border-top: 1px solid lightgreen;
                }
                .bl{
                    border-top: 1px solid blue;
                }
                .pu{
                    border-top: 1px solid purple;
                }
                .aq{
                    border-top: 1px solid aqua;
                }
                .liz{
                    margin-right: 0;
                }
            }
        }
    }
}
.s4{
    margin-top: 40px;
    width: 100%;
    padding: 50px 0;
    background: rgb(245,245,245);
    .s3div{
        width: 1200px;
        margin: 0 auto;
        background: rgb(245,245,245);
        margin-bottom: 30px;
        p{
            font-size: 22px;
            span{
                float: right;
                color: #ccc;
                border: 1px solid #ccc;
                font-size: 18px;
                width: 40px;
                text-align: center;
            }
        }
        ul{
            width: 100%;
            height: 310px;
            display: flex;
            list-style: none;
            li{
                flex-grow: 1;
                background: rgb(250,250,250);
                width: 20%;
                margin-right: 15px;
                text-align: center;
                img{
                    margin: 50px 0 40px 0;
                }
                p{
                    font-size: 13px;
                    line-height: 20px;
                }
                span{
                    color: #ccc;
                    line-height: 30px;
                }
                b{
                    color: orangered;
                }
            }
            .or{
                border-top: 1px solid orange;
                p{
                    color: orange;
                }
            }
            .gr{
                border-top: 1px solid lightgreen;
                p{
                    color: lightgreen;
                }
            }
            .bl{
                border-top: 1px solid blue;
                p{
                    color: blue;
                }
            }
            .pu{
                border-top: 1px solid purple;
                p{
                    color: purple;
                }
            }
        }
    }
    .div7{
        ul{
            li{
                text-align: center;
                overflow: hidden;
                p{
                    margin-top: 30px;
                }
                img{
                    margin: 10px 0;
                }
                div{
                    display: inline-block;width: 5px;
                    height: 5px;margin: 0 5px;
                    border-radius: 50%;
                    background: #ccc;
                }
                div:nth-of-type(1){
                    border: 1px solid orangered;
                    background: #fff;
                }
            }
            li.or{
                position: relative;
                overflow: hidden;
                .orr{
                    width: 200%;
                    display: block;
                    .or1{
                        text-align: center;
                        width: 50%;
                        float: left;
                        p{
                            margin-top: 30px;
                        }
                        img{
                            margin: 10px 0;
                        }
                        div{
                            display: inline-block;width: 5px;
                            height: 5px;margin: 0 5px;
                            border-radius: 50%;
                            background: #ccc;
                        }
                        div:nth-of-type(1){
                            border: 1px solid orangered;
                            background: #fff;
                        }
                    }
                    .orr1{
                        position: relative;
                    }
                }
                &:hover{
                    button{
                        display: block;
                    }
                }
                &>button{
                    position: absolute;
                    top: 150px;
                    display: none;
                    background: #fff;
                    outline: none;
                    border: 0;
                }
                button:nth-of-type(1){
                    left: 10px;
                }
                button:nth-of-type(2){
                    right: 10px;
                }
            }
        }
    }
    .div6{
        width: 1200px;
        margin: 0 auto;
        background: rgb(245,245,245);
        margin-bottom: 30px;
        p{
            font-size: 22px;
            span{
                float: right;
                color: #ccc;
                border: 1px solid #ccc;
                font-size: 18px;
                width: 40px;
                text-align: center;
            }
        }
        ul{
            width: 100%;
            height: 310px;
            display: flex;
            list-style: none;
            li{
                flex-grow: 1;
                background: rgb(250,250,250);
                width: 20%;
                margin-right: 15px;
                text-align: center;
                img{
                    margin: 50px 0 40px 0;
                }
                p{
                    font-size: 13px;
                    line-height: 20px;
                }
                span{
                    color: #ccc;
                    line-height: 30px;
                }
                b{
                    color: orangered;
                }
            }
            .liz{
                margin-right: 0;
            }
        }
    }
    .zy2{
        div{
            width: 100%;
            overflow: hidden;
            ul{
                width: 2400px;
                li{
                    transition: all .5s;
                    position: relative;
                    div{
                        width: 100%;
                        height: 55px;
                        position: absolute;
                        bottom: -55px;
                        color: #fff;
                        line-height: 55px;
                        transition: all 1s;
                        background: mediumaquamarine;
                    }
                    &:hover div{
                        bottom: 0;
                    }
                    &:hover{
                        box-shadow: 1px 1px 10px #00FFFF;
                    }
                }
            }
        }
    }
    .div8{
        p{
            span{
                border: 0;
                font-size: 14px;
                display: inline-block;
                width: 40px;
            }
        }
        ul{
            li{
                position: relative;
                text-align: center;
                p,span{
                    display: block;
                    line-height: 30px;
                    margin: 0;
                    text-align: center;
                }
                #play{
                    position: absolute;
                    top: 170px;
                    left: 20px;
                    width:40px;
                    border-radius: 30px;
                }
            }
        }
    }
    .divrp{
        ul{
            li{
                text-align: left;
                img{
                    width: 100%;
                    margin: 0;
                }
                p{
                    margin: 7px 0 0 0;
                }
                b,p,span{
                    margin-left: 30px;
                }
                span:nth-of-type(2){
                    color: #000;
                }
                b{
                    display: inline-block;
                }
            }
        }
    }
    .s4div{
        width: 1200px;
        background: rgb(245,245,245);
        margin: 0 auto;
        p{
            font-size: 20px;
            margin-bottom: 10px;
            span{
                float: right;
                font-size: 1rem;
                margin: 0 0 0 20px;
                &:nth-of-type(1){
                    border-bottom: 1px solid orange;
                    color: orange;
                }
            }
        }
        .d1{
            width: 100%;
            height: 570px;
            margin-bottom: 50px;
            div{
                float: left;
                height: 100%;
            }
            .d11{
                width: 220px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .d12{
                width: 980px;
                display: flex;
                flex-direction: column;
                ul{
                    flex-grow: 1;
                    list-style: none;
                    display: flex;
                    li{
                        text-align: center;
                        width: 25%;
                        transition: all 1s;
                        position: relative;
                        flex-grow: 1;
                        background: #fff;
                        overflow: hidden;
                        margin-left: 15px;
                        div{
                            position: absolute;
                            width: 100%;
                            height: 35px;
                            line-height: 35px;
                            background: orange;
                            color: #fff;
                            bottom: -3rem;
                            transition: all 1s;
                        }
                        img{
                            margin: 30px 0 20px 0;
                        }
                        
                        p{
                            font-size: 13px;
                            line-height: 20px;
                        }
                        span{
                            color: #ccc;
                            line-height: 30px;
                        }
                        b{
                            color: orangered;
                        }
                    }
                    li:hover{
                        box-shadow: 1px 1px 10px #000;
                        position: relative;
                        top: -3px;
                    }
                    li:hover div{
                        bottom: 0;
                    }
                }
                .ul1{
                    margin-bottom: 10px;
                }
                .ul2{
                    li:nth-of-type(4){
                        background: rgb(245,245,245);
                        display: flex;
                        flex-direction: column;
                        span{
                            flex-grow: 1;
                            background: #fff;
                            img{
                                margin-left: 20px;
                                vertical-align: middle;
                            }
                        }
                        span:nth-of-type(1){
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .div4{
        .ul1{
            li{
                img{
                    width: 126px;
                }
            }
        }
    }
    .div2,.div3,.div4{
       ul{
           li{
               img{
                   width: 125px;
               }
           }
           #lii{
               span{
                   padding: 15px 0;
               }
               img{
                   width: 50px;
               }
           }
       } 
    }
}
.s5{
    width: 100%;
    height: 250px;
    background: #fff;
    .footer{
        width: 1200px;
        margin: 0 auto;
        background: #fff;
        .ul11{
            width: 100%;
            border-bottom: 1px solid #ccc;
            list-style: none;
            height: 20px;
            padding: 20px 0;
            margin-bottom: 30px;
            li{
                float: left;
                width: 20%;
                color: rgb(102,108,134);
                padding: 3px 0;
                text-align: center;
                box-sizing: border-box;
                border-right: 1px solid #ccc;
            }
            .zui{
                border: 0;
            }
        }
        .fdiv{
            width: 100%;
            .dd1{
                float: left;
                width: 79%;
                display: flex;
                ul{
                    flex-grow: 1;
                    list-style: none;
                    li{
                        line-height: 30px;
                        font-size: 14px;
                        color: rgb(102,108,134);
                    }
                    li:nth-of-type(1){
                        font-weight: bolder;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
            }
            .kefu{
                float: right;
                width: 20%;
                border-left: 1px solid #ccc;
                text-align: center;
                b{
                    color: orangered;
                    font-size: 20px;
                    line-height: 30px;
                    box-sizing: border-box;
                }
                span{
                    color: rgb(138,138,138);
                    line-height: 20px;
                }
                button{
                    width: 120px;
                    height: 30px;
                    background: #fff;
                    color: orangered;
                    border: 1px solid orangered;
                    outline: none;
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: 150px;
    background: rgb(250,250,250);
    .footdiv{
        width: 1200px;
        margin: 0 auto;
        background: rgb(250,250,250);
        height: 100%;
        position: relative;
        .divzui{
            padding: 30px 0 0 0;
            width: 100%;
            height: 80px;
            color: rgb(150,150,150);
            div:nth-of-type(1){
                float: left;
                width: 65%;
                span{
                    color: rgb(100,100,100);
                }
                img{
                    float: left;
                    margin: 0 10px 0 0;
                }
            }
            div:nth-of-type(2){
                float: right;
                width: 32%;
                img{
                    vertical-align: middle;
                    float: left;
                    margin-left: 10px;
                }
                span{
                    float: left;
                }
                .img11{
                    width: 100px;
                }
                .img12,.img13,.img14{
                    width: 30px;
                }
            }
        }
    }
}
.ul3{
    li{
        position: relative;
        overflow: hidden;
        transition: all .5s;
        div{
            position: absolute;
            bottom: -60px;
            width: 100%;
            height: 60px;
            transition: all 1s;
            color: #fff;
            text-align: center;
            line-height: 60px;
            background: orangered;
        }
    }
    li:hover{
        box-shadow: 1px 1px 10px #000;
    }
    li:hover div{
        bottom: 0;
    }
}
.spqb{
    li{
        transition: all .5s;
        overflow: hidden;
        position: relative;
        &:hover{
            box-shadow: 1px 1px 10px salmon;
        }
        div{
            position: absolute;
            bottom: -50px;
            width: 100%;
            background: mediumorchid;
            text-align: center;
            color: #fff;
            transition: all 1s;
            line-height: 50px;
        }
        &:hover div{
            bottom: 0;
        }
    }
}















